[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
fabric = ">=2.0,<3.0"
fabulous = "*"
patchwork = "*"

[requires]
python_version = "3.6"
