[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-mock = "*"
pytest-relaxed = "*"

[packages]
fabric = {ref = "master",git = "https://github.com/cajopa/fabric.git",editable = true}
fabulous = "*"
patchwork = "*"
invoke = {ref = "master",git = "https://github.com/cajopa/invoke.git",editable = true}
path-py = "*"

[requires]
python_version = "3.6"
